.activity-wrapper {
  background-image: url(../img/routines.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-attachment: fixed;
  background-color: #f5eddc;
  width: 100vw;

  h1 {
    position: relative;
    left: 12rem;


  .activity-container {
    
    
    
  }
}}

