#hero {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding-top: 18rem;
  padding-right: 10rem;
  background: url(../img/pexels-ketut-subiyanto-4436349.jpg) no-repeat left
    fixed;
  background-size: 50%;
  height: 80em;

  p {
    font-size: 4.5rem;

    background-image: linear-gradient(
      to left,
      rgb(245, 237, 220) 75%,
      rgb(245, 237, 220) 50%,
      rgb(245, 237, 220),
      rgba(0, 0, 0, 0)
    );
  }
}
