#modal {
  display: none;
  background-color: #f9f9f9;
  height: 20rem;
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 40%;
  margin-top: 10%;
  border-radius: 5%;
  box-shadow: 4px 4px 6px rgba(87, 87, 87, 0.226);
  font-family: 'Poppins', sans-serif;
  position: fixed;

  #register-error {
    font-size: 1rem;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      margin-bottom: 0.5rem;
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
      width: 100%;
      padding: 10px;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      margin-top: 2px;
      margin-bottom: 10px;
      font-family: inherit;
      box-shadow: inset 0 1px 4px 1px rgba(136, 136, 136, 0.486);
    }

    button {
      padding: 5px 25px;
      border: 1px solid #000;
      border-radius: 5px;
      background: #d9d9d9;
      color: black;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      text-align: center;
      appearance: button;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      font-family: inherit;
      font-weight: 500;
    }

    a {
      padding-top: 0.5rem;
      font-size: 0.9rem;
    }
  }
  .close-modal {
    svg {
      position: absolute;
      top: 2rem;
      right: 2rem;
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

// LOGIN / REGISTER PAGES
#hero {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  grid-template-areas:
    'hero-img title-text'
    'hero-img title-text';
  min-height: 100vh;

  .bg-img {
    background: url(../img/pexels-ketut-subiyanto-4436349.jpg) no-repeat left;

    grid-area: hero-img;
  }
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
    background-image: linear-gradient(
      to left,
      rgb(245, 237, 220) 75%,
      rgb(245, 237, 220) 50%,
      rgb(245, 237, 220),
      rgba(0, 0, 0, 0)
    );
    text-decoration: underline;
    grid-area: title-text;
  }
}
