.myroutine{
    background-image: url(../img/Blend.jpg);
    background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-attachment: fixed;
  background-color: #f5eddc;
  width: 100vw;
}